<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
    .my-container {
      margin-left: 0px;
      margin-top: 10px;
      border-width: 1px;
    }
    .mini-container {
      margin-left: -5px;
      margin-top: 10px;
      border-width: 1px;
    }

    .my-table {
      flex: 1;
      overflow-y: auto;
    }


    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"
                  th:text="${user.getUsername} + '  with role:  ' + ${user.getRoles()}">
                Username with role
            </span>
        <a class="btn btn-dark" aria-current="page" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<br>
<div class="d-flex align-items-start">
    <div class="col-1">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>
    <!-- Tabs-->
    <div class="col">
        <div class="tab-content bg-light" id="v-pills-tabContent">
            <div class="tab-pane fade show active"
                 id="v-pills-admin"
                 role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <!-- Content for admin nav-tab -->
                <div class="d-flex align-content-center flex-wrap">
                    <h2><b>Admin panel</b></h2>
                </div>
                <!-- tabs -->
                <ul class="nav nav-tabs" id="adminTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active"
                           data-bs-toggle="tab"
                           href="#admin">User List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#newuser">New User</a>
                    </li>
                </ul>
                <!-- User list Tab -->
                <div class="tab-content">
                    <div class="tab-pane fade show container active"
                         id="admin"
                         role="tabpanel"
                         aria-labelledby="admin-tab">
                        <table class="table table-striped table-hover caption-top">
                            <caption>List of users</caption>
                            <thead>
                            <tr class="table-primary">
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getId()}">ID</td>
                                <td th:text="${user.getUsername()}">UN</td>
                                <td th:text="${user.getEmail()}">EM</td>
                                <td>
                                    <th:block th:each="r: ${user.getRoles()}"
                                              th:text="${r.getRolename().replace('ROLE_', '')}+' '">Roles
                                    </th:block>
                                </td>
                                <td><a th:href="@{show-user/{id} (id=${user.getId()})}"
                                       class="btn btn-info active"
                                       role="button" aria-pressed="true"
                                       th:text="Edit user">Edit user</a></td>
                                <td><a th:href="@{show-user/{id} (id=${user.getId()})}"
                                       class="btn btn-danger active"
                                       role="button" aria-pressed="true"
                                       th:text="Edit user">Delete-user</a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane container fade" id="menu1">...</div>
                </div>


            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...
            </div>
        </div>
    </div>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">

</script>
</html>